@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,400&family=Work+Sans:ital,wght@0,700;0,800;1,400;1,500;1,700&display=swap');
/* shared styles */
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.text-light-gray{
    color: #727272;
    
}
.primary-btn{
    width: 180px;
    height: 64px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    margin-top: 33px;
    border: none;
}
.section-title{
    color:#131313;
    font-size: 3rem;
    font-weight: 700;
}
/* header styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 50px;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: var(--Dark-02, #424242);
}


.bannar-contant{
    max-width:800px;
    text-align: center;
    margin: 0 auto;
    margin-top: 115px;
}
.bannar-title{
    font-size: 4rem;
    font-weight: 700;
}

.bannar img{
    margin-top: 50px;
    width: 100%;
}



/* ************** main styles ********* */
main{
    max-width: 1440px;
    margin: auto;
}
.teams-container{
    margin-top: 80px;
    display: flex;
    align-items: center;
}
.teams-img-continer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-contant{
    padding-right: 70px;
    padding-left: 70px;
}
.teams-title{
    font-size: 3rem;
    font-weight: 500px;
}
.teams-title .quick-list{
    color: var(--Dark-03, #727272);
}

.feature-text{
    color: #FF900E;
    font-weight: 700;
}
.facts{
    /* width: 542px; */
}
.facts-card-container {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px 30px;
    
    
}
.facts-card-container .card-stats{
    font-size: 2.5rem;
    color: #424242;
}
.facts-card-container .card-title{
    font-weight: 600;
    font-size: 1.25rem;
}
/* sponsors styles*/
.sponsors{
    margin-top: 180px;
    text-align: center;
}
.soponsors-img-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}
.soponsors-img-container img{
    width: 165px;
}

/* media query */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav , .teams-container, .facts-card-container,.soponsors-img-container{
        flex-direction: column;
        
    }
    nav ul{
        margin: auto;
    }
    .teams-img-continer{
        grid-template-columns: 1fr;
    }
    .teams-contant, .facts-card-container{
        padding-right: 20px;
        padding-left: 10px;
    }
    .facts-card-container{
        gap: 20px;
    }
    .some-facts,.facts-p{
        text-align: center;
        margin-top: 30px;
    }
}

/* Tablet or medium devices */
@media screen and (min-width:576px) and (max-width:992px) {
    header{
        padding: 20px;
    }
    nav , .teams-container, .soponsors-img-container{
        flex-direction: column;
    }
    .some-facts,.facts-p{
        text-align: center;
        margin-top: 30px;
    }
}